.root {
  visibility: visible;
  height: 100vh;

  .childrenWrapper {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .childrenInner {
    height: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
